---
- name: Tailscale Playbook
  hosts: kube_node
  become: true
  become_user: root
  roles:
    - tailscale
  tags:
    - tailscale

- name: k3s Playbook
  hosts: all
  become: true
  become_user: root
  serial: "{{ serial_hosts | default(1) }}"
  pre_tasks:
    - name: Set node role
      ansible.builtin.set_fact:
        is_control_plane: "{{ inventory_hostname in groups['kube_control_plane'] }}"
  roles:
    - k3s
  tags:
    - k3s

- name: OS Playbook
  hosts: kube_node
  become: true
  become_user: root
  roles:
    - os
  tags:
    - os

- name: Retrieve OP items
  hosts: localhost
  roles:
    - op
  tags:
    - op

- name: GPU Playbook
  hosts: kube_node
  become: true
  become_user: root
  roles:
    - gpu
  tags:
    - gpu

- name: Persistent Storage rook-ceph playbook
  hosts: node1
  become: true
  become_user: root
  serial: "{{ serial_hosts | default(1) }}"
  roles:
    - rook-ceph
  tags:
    - rook-ceph

- name: Provider Playbook
  hosts: node1
  become: true
  become_user: root
  serial: "{{ serial_hosts | default(1) }}"
  roles:
    - provider
  tags:
    - provider
