- name: Create rook-ceph directory
  ansible.builtin.file:
    path: /root/rook-ceph
    state: directory
    mode: '0755'

- name: Copy rook-ceph values file to remote host
  template:
    src: "rook-ceph-cluster.values.yml.j2"
    dest: "/root/rook-ceph/rook-ceph-cluster.values.yml"

- name: Install Rook-Ceph Cluster via Helm
  kubernetes.core.helm:
    name: rook-ceph-cluster
    chart_ref: rook-release/rook-ceph-cluster
    release_namespace: "{{ rook_ceph_namespace }}"
    chart_version: "{{ rook_ceph_version }}"
    values_files:
      - /root/rook-ceph/rook-ceph-cluster.values.yml
    state: present
