---
from: "{{ akash1_address }}"
key: "{{ provider_b64_key }}"
keysecret: "{{ provider_b64_keysecret }}"
domain: "{{ domain }}"
node: "{{ node }}"
withdrawalperiod: "{{ withdrawal_period }}"
email: "{{ email }}"
website: "{{ website }}"
attributes:
  - key: region
    value: "{{ region }}"
  - key: host
    value: "{{ host }}"
  - key: tier
    value: "{{ tier }}"
  - key: organization
    value: "{{ organization }}"
{% if cuda_version is defined and cuda_version %}
  - key: cuda-version
    value: "{{ cuda_version }}"
{% endif %}
{% if country is defined and country %}
  - key: country
    value: "{{ country }}"
{% endif %}
{% if city is defined and city %}
  - key: city
    value: "{{ city }}"
{% endif %}
{% if location_type is defined and location_type %}
  - key: location-type
    value: "{{ location_type }}"
{% endif %}
{% if cpu is defined and cpu %}
  - key: cpu
    value: "{{ cpu }}"
{% endif %}
{% if cpu_arch is defined and cpu_arch %}
  - key: cpu-arch
    value: "{{ cpu_arch }}"
{% endif %}
{% if storage_one_class is defined and storage_one_class %}
  - key: storage-one-class
    value: "{{ storage_one_class }}"
{% endif %}
{% if storage_one_persistent is defined and storage_one_persistent %}
  - key: storage-one-persistent
    value: "{{ storage_one_persistent }}"
{% endif %}
{% if storage_two_class is defined and storage_two_class %}
  - key: storage-two-class
    value: "{{ storage_two_class }}"
{% endif %}
{% if storage_two_persistent is defined and storage_two_persistent %}
  - key: storage-two-persistent
    value: "{{ storage_two_persistent }}"
{% endif %}
{% if memory is defined and memory %}
  - key: memory
    value: "{{ memory }}"
{% endif %}
{% if network_speed_up is defined and network_speed_up %}
  - key: network-speed-up
    value: "{{ network_speed_up }}"
{% endif %}
{% if network_speed_down is defined and network_speed_down %}
  - key: network-speed-down
    value: "{{ network_speed_down }}"
{% endif %}
{% if price_cpu is defined and price_cpu %}
price_cpu: {{ price_cpu }}
{% endif %}
{% if price_memory is defined and price_memory %}
price_memory: {{ price_memory }}
{% endif %}
{% if price_hd_ephemeral is defined and price_hd_ephemeral %}
price_hd_ephemeral: {{ price_hd_ephemeral }}
{% endif %}
{% if price_hd_pers_hdd is defined and price_hd_pers_hdd %}
price_hd_pers_hdd: {{ price_hd_pers_hdd }}
{% endif %}
{% if price_hd_pers_ssd is defined and price_hd_pers_ssd %}
price_hd_pers_ssd: {{ price_hd_pers_ssd }}
{% endif %}
{% if price_hd_pers_nvme is defined and price_hd_pers_nvme %}
price_hd_pers_nvme: {{ price_hd_pers_nvme }}
{% endif %}
{% if price_endpoint is defined and price_endpoint %}
price_endpoint: {{ price_endpoint }}
{% endif %}
{% if price_ip is defined and price_ip %}
price_ip: {{ price_ip }}
{% endif %}
{% if price_gpu_mappings is defined and price_gpu_mappings %}
price_gpu_mappings: "{{ price_gpu_mappings }}"
{% endif %}