---
from: "{{ akash1_address }}"
key: "{{ provider_b64_key }}"
keysecret: "{{ provider_b64_keysecret }}"
domain: "{{ domain }}"
node: "{{ node }}"
withdrawalperiod: "{{ withdrawal_period }}"
email: "{{ email }}"
website: "{{ website }}"
attributes:
{% for attr in attributes %}
  - key: {{ attr.key }}
    value: {{ attr.value }}
{% endfor %}
{% if price_cpu is defined and price_cpu %}
price_cpu: {{ price_cpu }}
{% endif %}
{% if price_memory is defined and price_memory %}
price_memory: {{ price_memory }}
{% endif %}
{% if price_hd_ephemeral is defined and price_hd_ephemeral %}
price_hd_ephemeral: {{ price_hd_ephemeral }}
{% endif %}
{% if price_hd_pers_hdd is defined and price_hd_pers_hdd %}
price_hd_pers_hdd: {{ price_hd_pers_hdd }}
{% endif %}
{% if price_hd_pers_ssd is defined and price_hd_pers_ssd %}
price_hd_pers_ssd: {{ price_hd_pers_ssd }}
{% endif %}
{% if price_hd_pers_nvme is defined and price_hd_pers_nvme %}
price_hd_pers_nvme: {{ price_hd_pers_nvme }}
{% endif %}
{% if price_endpoint is defined and price_endpoint %}
price_endpoint: {{ price_endpoint }}
{% endif %}
{% if price_ip is defined and price_ip %}
price_ip: {{ price_ip }}
{% endif %}
{% if price_gpu_mappings is defined and price_gpu_mappings %}
price_gpu_mappings: "{{ price_gpu_mappings }}"
{% endif %}
