---
from: "{{ akash1_address }}"
key: "{{ provider_b64_key }}"
keysecret: "{{ provider_b64_keysecret }}"
domain: "{{ domain }}"
node: "{{ node }}"
withdrawalperiod: "{{ withdrawal_period }}"
chainid: "{{ chain_id }}"

email: "{{ email }}"
website: "{{ website }}"
organization: "{{ organization }}"

attributes:
  - key: location-region
    value: "{{ location_region }}"
  - key: host
    value: akash
  - key: tier
    value: "{{ tier }}"
  - key: organization
    value: "{{ organization }}"
  - key: email
    value: "{{ email }}"
  - key: discord-username
    value: "{{ discord_username }}"
  - key: website
    value: "{{ website }}"
  - key: status-page
    value: "{{ status_page }}"
  - key: country
    value: "{{ country }}"
  - key: city
    value: "{{ city }}"
  - key: timezone
    value: "{{ timezone }}"
  - key: location-type
    value: "{{ location_type }}"
  - key: hosting-provider
    value: "{{ hosting_provider }}"
  - key: capabilities/cpu
    value: "{{ cpu_vendor }}"
  - key: capabilities/cpu/arch
    value: "{{ cpu_arch }}"
  - key: capabilities/memory
    value: "{{ memory_type }}"
  - key: network-provider
    value: "{{ network_provider }}"
  - key: network-speed-up
    value: "{{ network_speed_up }}"
  - key: network-speed-down
    value: "{{ network_speed_down }}"
  - key: capabilities/ip-lease
    value: "false"
  - key: feat-endpoint-ip
    value: "false"
  - key: feat-endpoint-custom-domain
    value: true
  - key: feat-persistent-storage
    value: {{ has_persistent_storage | default(false) | bool | lower }}
{% if has_persistent_storage | default(false) | bool %}
  - key: capabilities/storage/1/class
    value: "{{ storage_class_name }}"
  - key: capabilities/storage/1/persistent
    value: "true"
{% endif %}
  - key: feat-shm
    value: true
  - key: capabilities/storage/2/class
    value: ram
  - key: capabilities/storage/2/persistent
    value: "false"
{% if has_gpu | default(false) | bool %}
  - key: capabilities/gpu
    value: nvidia
  - key: cuda
    value: "{{ cuda_version }}"
{% for gpu in gpu_profiles %}
  - key: capabilities/gpu/vendor/nvidia/model/{{ gpu.model }}
    value: "true"
  - key: capabilities/gpu/vendor/nvidia/model/{{ gpu.model }}/ram/{{ gpu.ram }}
    value: "true"
  - key: capabilities/gpu/vendor/nvidia/model/{{ gpu.model }}/interface/{{ gpu.interface }}
    value: "true"
  - key: capabilities/gpu/vendor/nvidia/model/{{ gpu.model }}/ram/{{ gpu.ram }}/interface/{{ gpu.interface }}
    value: "true"
{% endfor %}
{% endif %}

price_target_cpu: {{ price_cpu }}
price_target_memory: {{ price_memory }}
price_target_hd_ephemeral: {{ price_hd_ephemeral }}
price_target_hd_pers_hdd: {{ price_hd_pers_hdd }}
price_target_hd_pers_ssd: {{ price_hd_pers_ssd }}
price_target_hd_pers_nvme: {{ price_hd_pers_nvme }}
price_target_endpoint: {{ price_endpoint }}
price_target_ip: {{ price_ip }}
{% if price_gpu_mappings is defined and price_gpu_mappings %}
price_target_gpu_mappings: "{{ price_gpu_mappings }}"
{% endif %}
