---
# tasks file for Provider
- name: Ensure the provider secrets are loaded
  ansible.builtin.import_tasks: init.yml

- name: Initialize the provider build steps
  ansible.builtin.import_tasks: prereqs.yml

- name: Detect GPU and CUDA information
  ansible.builtin.import_tasks: gpu_detect.yml

- name: Detect available capabilities (storage, GPU, etc.)
  ansible.builtin.import_tasks: detect_capabilities.yml

- name: Initialize the Akash charts
  ansible.builtin.import_tasks: install.yml

