operatorNamespace: {{ rook_ceph_namespace }}

configOverride: |
  [global]
  osd_pool_default_pg_autoscale_mode = on
  osd_pool_default_size = {{ pool_size }}
  osd_pool_default_min_size = {{ min_size }}

cephClusterSpec:
  dataDirHostPath: "{{ rook_ceph_data_dir | default('/var/lib/rook') }}"
  resources:
  mon:
    count: {{ mon_count }}
  mgr:
    count: {{ mgr_count }}

  storage:
    useAllNodes: false
    useAllDevices: false
    deviceFilter: "{{ device_filter }}"
    config:
      osdsPerDevice: "{{ osds_per_device }}"
    nodes:
{% set nodes = storage_nodes | replace('[', '') | replace(']', '') | replace("'", '') | trim() %}
{% for node in nodes.split() %}
    - name: "{{ node }}"
{% endfor %}
cephBlockPools:
  - name: akash-deployments
    spec:
      failureDomain: {{ failure_domain }}
      replicated:
        size: {{ pool_size }}
      parameters:
        min_size: "{{ min_size }}"
        bulk: "true"
    storageClass:
      enabled: true
      name: {{ storage_class }}
      isDefault: true
      reclaimPolicy: Delete
      allowVolumeExpansion: true
      parameters:
        # RBD image format. Defaults to "2".
        imageFormat: "2"
        # RBD image features. Available for imageFormat: "2". CSI RBD currently supports only `layering` feature.
        imageFeatures: layering
        # The secrets contain Ceph admin credentials.
        csi.storage.k8s.io/provisioner-secret-name: rook-csi-rbd-provisioner
        csi.storage.k8s.io/provisioner-secret-namespace: {{ rook_ceph_namespace }}
        csi.storage.k8s.io/controller-expand-secret-name: rook-csi-rbd-provisioner
        csi.storage.k8s.io/controller-expand-secret-namespace: {{ rook_ceph_namespace }}
        csi.storage.k8s.io/node-stage-secret-name: rook-csi-rbd-node
        csi.storage.k8s.io/node-stage-secret-namespace: {{ rook_ceph_namespace }}
        # Specify the filesystem type of the volume. If not specified, csi-provisioner
        # will set default as `ext4`. Note that `xfs` is not recommended due to potential deadlock
        # in hyperconverged settings where the volume is mounted on the same node as the osds.
        csi.storage.k8s.io/fstype: ext4
# Do not create default Ceph file systems, object stores
cephFileSystems:
cephObjectStores:
# Spawn rook-ceph-tools, useful for troubleshooting
toolbox:
  enabled: true
  resources:
